apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: kompose convert -f main.yml --volumes hostPath
    kompose.version: 1.32.0 (765fde254)
  labels:
    io.kompose.service: dizquetv
  name: dizquetv
spec:
  ports:
    - name: "8107"
      port: 8107
      targetPort: 8000
  selector:
    io.kompose.service: dizquetv
