apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: kompose convert -f main.yml --volumes hostPath
    kompose.version: 1.32.0 (765fde254)
  labels:
    io.kompose.service: gatus-public
  name: gatus-public
spec:
  ports:
    - name: "8101"
      port: 8101
      targetPort: 8080
  selector:
    io.kompose.service: gatus-public
