apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: kompose convert -f main.yml --volumes hostPath
    kompose.version: 1.32.0 (765fde254)
  labels:
    io.kompose.service: nodered
  name: nodered
spec:
  ports:
    - name: "8108"
      port: 8108
      targetPort: 1880
  selector:
    io.kompose.service: nodered
